<h2><%= I18n.t 'txt.about.title' %></h2>
<div>
  <p><%= I18n.t 'txt.about.author', :mail_1 => mail_to("clemens@railway.at", "Clemens Kofler") %></p>
  <p><%= I18n.t 'txt.about.feedback', :blog_href => link_to("www.railway.at", "http://www.railway.at") %></p>
  <p><%= I18n.t 'txt.about.licence', :licence_href => link_to("Creative Commons Attribution Noncommercial Share Alike License", "http://creativecommons.org/licenses/by-nc-sa/2.0/at/") %></p>
  <p><%= link_to image_tag("http://i.creativecommons.org/l/by-nc-sa/2.0/at/88x31.png"), "http://creativecommons.org/licenses/by-nc-sa/2.0/at/" %></p>
</div>
<h3>Additional work (alphabetical)</h3>
<div>
  <ul style="margin-bottom:15px;">
    <li><%= link_to "Akira Matsuda", "http://github.com/amatsuda" %>: Japanese locale (ja)</li>
    <li><%= link_to "Claudio Poli", "http://www.icoretech.org" %>: Content translation, Italian locale (it)</li>
    <li><%= link_to "Dr Nic Williams", "http://drnicwilliams.com" %>: English locale (en-AU)</li>
    <li><%= link_to "Fabio Akita", "http://www.akitaonrails.com" %>: Portuguese locale (pt-BR)</li>
    <li><%= link_to "Janko Ahlbrandt", "http://www.keyj.de" %>: German locale (de)</li>
    <li><%= link_to "Kai Chen", "http://www.chenk85.com" %>: Chinese locale (th)</li>
    <li><%= link_to "Karel Minařík", "http://www.karmi.cz" %>: Czech locale (cz)</li>
    <li><%= link_to "Leandro Marcucci", "http://leanucci.com.ar" %>: Spanish locale (es-AR)</li>
    <li><%= link_to "Masayuki Nakamura", "http://www.japancentre.com" %>: Content translation, Japanese locale (ja)</li>
    <li><%= link_to "Ninh Bui", "http://www.phusion.nl" %>: Dutch locale (nl), Hosting (<%= link_to "http://i18n-demo.phusion.nl", "http://i18n-demo.phusion.nl", :popup => true %>)</li>
    <li><%= link_to "Prem Sichanugrist", "http://sikachu.com" %>: Thai locale (th)</li>
    <li><%= link_to "Simon Tokumine", "http://www.japancentre.com" %>: Content translation, Japanese locale (ja)</li>
  </ul>
</div>
