<h2><%= I18n.t('txt.menu.date_formats') %></h2>
<div>
  <table>
    <tr>
      <th scope="row">Date.today.to_s</th>
      <td><%= Date.today.to_s %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:default)</th>
      <td><%= Date.today.to_s(:default) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:short)</th>
      <td><%= Date.today.to_s(:short) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:long)</th>
      <td><%= Date.today.to_s(:long) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:long_ordinal)</th>
      <td><%= Date.today.to_s(:long_ordinal) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:only_day)</th>
      <td><%= Date.today.to_s(:only_day) %></td>
    </tr>
  </table>
  <p><%= I18n.t('txt.date_formats.rails_standards_work') %></p>
  <table>
    <tr>
      <th scope="row">Date.today.to_s(:db)</th>
      <td><%= Date.today.to_s(:db) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:number)</th>
      <td><%= Date.today.to_s(:number) %></td>
    </tr>
    <tr>
      <th scope="row">Date.today.to_s(:rfc822)</th>
      <td><%= Date.today.to_s(:rfc822) %></td>
    </tr>
  </table>
</div>

<p style="text-align:right;"><%= link_to "&raquo; #{I18n.t('txt.menu.time_formats')}" , :action => 'time_formats' %></p>