<h2>NumberHelper</h2>
<div>
  <p><%= I18n.t 'txt.number_helper.note_one', :globalize => link_to("Globalize", "http://globalize.rubyforge.org/") %></p>
  <p><%= I18n.t 'txt.number_helper.note_two' %></p>

  <h3>number_to_currency</h3>
  <div>
    <table>
      <tr>
        <th scope="row">number_to_currency(999)</th>
        <td><%= number_to_currency(999) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_currency(1999)</th>
        <td><%= number_to_currency(1999) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_currency(1999.99)</th>
        <td><%= number_to_currency(1999.99) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_currency(1934524.34582)</th>
        <td><%= number_to_currency(1934524.34582) %></td>
      </tr>
    </table>
  </div>

  <h3>number_to_percentage</h3>
  <div>
    <table>
      <tr>
        <th scope="row">number_to_percentage(999)</th>
        <td><%= number_to_percentage(999) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_percentage(1999)</th>
        <td><%= number_to_percentage(1999) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_percentage(1999.99)</th>
        <td><%= number_to_percentage(1999.99) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_percentage(1934524.34582)</th>
        <td><%= number_to_percentage(1934524.34582) %></td>
      </tr>
    </table>
  </div>

  <h3>number_to_human_size</h3>
  <div>
    <table>
      <tr>
        <th scope="row">number_to_human_size(1.byte)</th>
        <td><%= number_to_human_size(1.byte) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_human_size(2.kilobytes)</th>
        <td><%= number_to_human_size(2.kilobytes) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_human_size(2.5.kilobytes)</th>
        <td><%= number_to_human_size(2.5.kilobytes) %></td>
      </tr>
      <tr>
        <th scope="row">number_to_human_size(2.34582.kilobytes)</th>
        <td><%= number_to_human_size(2.34582.kilobytes) %></td>
      </tr>
    </table>
  </div>

  <h3>number_with_precision</h3>
  <div>
    <table>
      <tr>
        <th scope="row">number_with_precision(999)</th>
        <td><%= number_with_precision(999) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_precision(1999)</th>
        <td><%= number_with_precision(1999) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_precision(1999.99)</th>
        <td><%= number_with_precision(1999.99) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_precision(1934524.34582)</th>
        <td><%= number_with_precision(1934524.34582) %></td>
      </tr>
    </table>
  </div>

  <h3>number_with_delimiter</h3>
  <div>
    <table>
      <tr>
        <th scope="row">number_with_delimiter(999)</th>
        <td><%= number_with_delimiter(999) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_delimiter(1999)</th>
        <td><%= number_with_delimiter(1999) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_delimiter(1999.99)</th>
        <td><%= number_with_delimiter(1999.99) %></td>
      </tr>
      <tr>
        <th scope="row">number_with_delimiter(1934524.34582)</th>
        <td><%= number_with_delimiter(1934524.34582) %></td>
      </tr>
    </table>
  </div>
</div>