<html>
  <head>
    <title><%= I18n.t 'txt.main_title' %> - <%= I18n.t 'txt.app_name' %></title>
    <%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag :defaults%>
  </head>
  <body>
		<div id="blank_wrap">
		<% form_tag '' do %>
			<%= select_tag("locale", options_for_select(LOCALES_AVAILABLE, I18n.locale), { :index => nil, :onchange => 'this.form.submit()'}) %>
		<% end %>
		
	    <div id="page">
	      <h1><%= I18n.t 'txt.main_title' %><span id="claim"><%= I18n.t 'txt.sub_title' %></span></h1>
	      <div id="navigation">
	        <h4 style="margin:0; margin-bottom:5px;"><%= I18n.t 'txt.contents' %></h4>
	        <ul>
	          <li><%= link_to I18n.t('txt.menu.introduction'), :action => 'index' %></li>
	          <li><%= link_to I18n.t('txt.menu.about'), :action => 'about' %></li>
	          <li><%= link_to I18n.t('txt.menu.setup'), :action => 'setup' %></li>
	          <li><%= link_to I18n.t('txt.menu.date_formats'), :action => 'date_formats' %></li>
	          <li><%= link_to I18n.t('txt.menu.time_formats'), :action => 'time_formats' %></li>
	          <li><%= link_to "DateHelper", :action => 'date_helper' %></li>
	          <li><%= link_to "ActiveRecordHelper", :action => 'active_record_helper' %></li>
	          <li><%= link_to "NumberHelper", :action => 'number_helper' %></li>
	        </ul>
	      </div>
	      <div id="content">
	        <%= yield %>
	      </div>
	      <div id="footer">
	        <p><%= I18n.t 'txt.main_title' %> - <%= I18n.t 'txt.app_name' %></p>
	        <p>&copy; 2008 Clemens Kofler &lt;<%= mail_to 'clemens@railway.at' %>&gt;</p>
	        <p>Various contributions by <%= link_to 'others', :action => 'about' %></p>
	        <p><%= link_to 'www.railway.at - welcome aboard!', 'http://www.railway.at' %></p>
	        <p style="position:absolute; bottom:25px; right:25px;"><%= link_to image_tag("http://i.creativecommons.org/l/by-nc-sa/2.0/at/88x31.png"), "http://creativecommons.org/licenses/by-nc-sa/2.0/at/" %></p>
	      </div>
			</div>
    </div>
  </body>
</html>